* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #010002;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23924eff' fill-opacity='0.38' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.container {
  width: 100%;
}

/* NAVIGATION */
.nav-main {
  height: 40px;
  font-size: 23px;
  color: #ffec64;
  border-bottom: #ffec64 solid 1px;
  padding-left: 20px;
  background-color: black;
}
.addBookBtn {
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  width: 250px;
  height: 39px;
  font-size: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  outline: none;
}
.addBookBtn i {
  transition: transform 0.5s ease-in-out;
}
.addBookBtn:active {
  right: 2px;
}
.default {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border: 1px solid #ffaa22;
  text-shadow: 0px 1px 0px #ffee66;
  color: #333333;
}
.default:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.clicked {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border: 1px solid #d02718;
  text-shadow: 0px 1px 0px #810e05;
  color: #ffffff;
}
.clicked:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.clicked i {
  transform: rotate(45deg);
}

/* CARDS DISPLAYER */
.display-container,
.cards-container {
  display: flex;
  flex-direction: column;
}

/* CARDS */
/* .card {
  margin-left: 60px;
  display: flex;
  width: 1000px;
  height: 70px;
  background-color: #000000;
  font-size: 15px;
  color: white;
  border: #ffab23 solid 2px;
  justify-content: space-between;
  align-items: center;
}
.last-card {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.table {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 30px;
  padding-right: 90px;
  font-size: 20px;
}

.card h2 {
  margin: 10px 20px;
} */

.delete-btn {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border: 1px solid #d02718;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 10px;
}

/* TABLE */
.display-table {
  margin-left: 60px;
  margin-top: 30px;
  padding-right: 30px;
  font-size: 15px;
  background-color: #000000;
  border: #ffab23 solid 2px;
  color: #fff;
  border-radius: 20px;
  width: 1000px;
}
.categories {
  font-size: 25px;
}
.display-table tr {
  height: 70px;
}

/* FORM */
.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  position: absolute;
  top: 40px;
  right: 0px;
  height: 600px;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
  transform: translateY(-640px);
  transition: transform 0.5s ease-in-out;
}
.show {
  transform: translateX(0px);
}
.popup input {
  margin: 22px 0;
}
.popup input[type='text'],
.popup input[type='number'],
.popup input[type='submit'] {
  width: 90%;
  height: 40px;
  font-size: 35px;
}
#read {
  width: 35px;
  height: 35px;
}
